.vscode/**
.vscode-test/**
out/**
webview-ui/node_modules/**
webview-ui/out/**
webview-ui/.next/**
webview-ui/src/**
webview-ui/public/**
webview-ui/package.json
webview-ui/package-lock.json
tsconfig.json
.eslintrc.json
**/*.map
**/*.ts
